@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "vars";
@import "fonts";

a img {
    border: none;
}

body, section, footer {
  width: 100%;
  margin: 0;
}

body {
    height: 100%;
    overflow: auto;

    padding: 0;

    text-align: center;
}

section {
    padding: $two-space;
    @include box-sizing(border-box);
}

footer {
    padding: $two-space;
    @include box-sizing(border-box);

    background-color: $light-grey;

    h4, p {
        margin: 0;

        color: $black;
    }

    h4 {
      padding: 0;

      @include fontBioRhyme();
      font-size: 2rem;
    }

    hr {
      width: 50%;
      height: 3px;
      margin: 0 auto $one-space auto;

      border: none;
      background-color: $red;
    }

    p {
      padding: $half-space;

      font-size: 1rem;
      line-height: 1.5rem;
      @include fontBitter();
      color: $black;

      a, a:visited {
          padding-bottom: 2px;
          border-bottom: 1px solid $black;

          color: $black;
          text-decoration: none;

          cursor: pointer;
          @include transition(border-color $fast-animation, color $fast-animation);

          &:hover {
              border-color: $red;
              color: $red;
          }
      }
    }
}
