@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "vars";
@import "fonts";

a img {
    border: none;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;

    margin: 0;
    padding: 2rem;
    @include box-sizing(border-box);

    text-align: center;
    @include fontLato();
}

h1 {
    color: $black;
    font: {
        size: 3rem;
    }
}

h2 {
    margin: 1rem;

    color: $grey;
    font: {
        size: 1rem;
    }

    a, a:visited {
        padding-bottom: 2px;
        border-bottom: 1px solid $grey;

        color: $grey;
        text-decoration: none;

        cursor: pointer;
        @include transition(border-color ease .5s, color ease .5s);

        &:hover {
            border-color: $red;
            color: $red;
        }
    }
}

hr {
    width: 90%;

    margin: 3rem auto;
    border: 1px solid $light-grey;

    @media all and (min-width: $phone) {
        width: 500px;
    }
}

.img {
    display: inline-block;

    background: {
        position: center;
        size: cover;
        color: $light-grey;
    }

    box-shadow: 0 4px 0 -2px $light-grey;
}
