// TODO remove
@mixin fontLato() {
    font-family: 'Lato', sans-serif;
}

@mixin fontBitter() {
    font-family: 'Bitter', sans-serif;
}

@mixin fontBioRhyme() {
    font-family: 'BioRhyme', serif;
}
