header.index {
  h1 {
    padding: $five-space $two-space;

    font-size: 3rem;
    color: $black;
    @include fontBioRhyme();
  }
}

hr.index {
  width: 60%;
  height: 3px;
  margin: 0 auto;

  border: none;
  background-color: $light-grey;
}

section.index {
  .entry, .entry:visited {
      width: 90%;
      max-width: 1200px;
      height: 325px;
      @include display(flex);
      margin: $four-space auto;

      text-decoration: none;
      text-align: left;
      color: default;
      cursor: pointer;
      background: {
          position: center;
          size: cover;
          color: $light-grey;
      }
      box-shadow: 0 10px 0 -5px $light-grey, 0 0 0 10000px transparentize($black, .8) inset;
      @include transition(box-shadow $fast-animation);

      .titles {
        @include align-self(flex-end);
        margin: 0 $one-space $three-space $one-space;
      }

      h2, h3 {
        padding: $half-space;
        margin: 0;

        color: $white;
        @include fontBitter();
        font-weight: 400;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      hr {
        width: 100px;
        height: 3px;
        margin: $half-space;

        background-color: $red;
        border: none;
      }

      &:hover {
          text-decoration: none;
          box-shadow: 0 10px 0 -5px $light-grey, 0 0 0 10000px transparentize($black, .6) inset;
      }
  }
}
