.insight {
    h1 {
        margin: 3rem 1rem 1rem 1rem;
    }

    h2.link {
      margin-bottom: 0;

      text-align: left;
    }

    img {
        width: 70%;
        margin: 1rem 0;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;

        background-color: $light-grey;
        box-shadow: 0 10px 0 -6px $light-grey;
    }
}
