header.insight {
  width: 100%;
  height: 100vh;
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(column);

  border-bottom: 2px solid $light-grey;

  @media all and (min-width: $phone) {
    @include flex-direction(row);

    .highlight {
      @include flex(1 !important);
    }

    .headline {
      @include flex(1 !important);
    }
  }

  .highlight, .headline {
    margin: 0;
  }

  .highlight {
    @include flex(.4);
    background: {
      position: center center;
      color:  $light-grey;
      repeat: no-repeat;
      size: cover;
    }
  }

  .headline {
    @include flex(.6);
    @include display(flex);

    .headline-inside-wrapper {
      @include align-self(center);
      margin: $one-space;
      text-align: left;

      h1 {
        @include fontBitter();
        font-size: 4rem;
        color: $black;
        margin: 0;
      }

      hr {
        width: 30vh;
        height: 5px;
        margin: $one-space 0;

        background: $red;
        border: none;
      }

      h2 {
        margin: 0;

        @include fontBitter();
        font-size: 2rem;
        color: $black;
      }
    }
  }
}

section.insight {
  h3 {
    margin: $four-space $one-space $one-space $one-space;

    @include fontBitter();
    font-size: 3rem;
    color: $black;
  }

  hr {
    width: 35%;
    height: 3px;
    margin: 0 auto $one-space auto;

    background: $red;
    border: none;
  }

  .full, .combined {
    width: 100%;
    max-width: 1160px;
    @include box-sizing(border-box);
  }

  .full {
    padding: $one-space 0;
  }

  .combined {
    display: inline-block;

    img {
      @include box-sizing(border-box);
      width: 100%;
      padding-top: $one-space;
      padding-bottom: $one-space;
    }

    @media all and (min-width: $phone) {
      padding: $one-space 0;

      img {
        padding-top: 0;
        padding-bottom: 0;
        width: 50%;

        &:first-child {
          padding-right: .75rem;
        }

        &:last-child {
          padding-left: .75rem;
        }
      }
    }
  }
}
