include pics
include header

+header('.')

section.index
    h1 Vagabond
    
    h2 All these images are my property.
        | Interested in using them? &#8239;
        a(href='https://github.com/acadet/vagabond/issues') Open a ticket here.
        
    hr
        
    .places.js-places
        each p in places
            a.place(href='#{p.folder}')
                .img.js-img(data-src="#{p.src}")
                h3 #{p.name} – #{p.date}
    
    
        
    
