mixin insight(place)
    +header('../', 'Insight')

    section.insight
        h1 #{place.name} 
        h2 #{place.date}
        
        hr
        
        .places.js-places
            - for (var i = 1; i <= place.size; i++)
                .img.js-img(data-src="#{i}.jpg")
        
