- var places = []
- function range(s, e, o) { var r = []; for (var i = s; i <= e; i++) { r.push(o); } return r; };
- function flatten(a) { return [].concat.apply([], a); }

- var BALI = {name: "Bali", folder: 'bali-2017', date: "Apr 2017", size: 29, highlight: 24};
- var sanur = {name: "Sanur", lat: -8.707178, lng: 115.262624};
- var uluwatu = {name: "Uluwatu Temple", lat: -8.829099, lng: 115.084877};
- var ubud = {name: "Ubud", lat: -8.506854, lng: 115.262478};
- BALI.locations = flatten([range(1, 9, sanur), range(10, 13, uluwatu), range(14, 29, ubud)]);
-  places.push(BALI)

- var HAWAII = {name: "Hawaii", folder: 'hawaii-2017', date: "Mar 2017", size: 15, highlight: 5};
- var kona = {name: "Kona", lat: 19.639994, lng: -155.996926};
- var cook = {name: "Captain Cook", lat: 19.496944, lng: -155.921667};
- var honaunau = {name: "Pu'uhonua O Honaunau", lat: 19.421539, lng: -155.910525};
- var hilo = {name: "Hilo", lat: 19.707094, lng: -155.088487};
- var volcano = {name: "Volcano", lat: 19.419370, lng: -155.288497};
- HAWAII.locations = flatten([range(1, 3, kona), range(4, 5, cook), range(6, 8, honaunau), range(9, 12, hilo), range(12, 15, volcano)]);
-  places.push(HAWAII)

- var TUSCON = {name: "Tuscon", folder: 'tuscon-2017', date: "Feb 2017", size: 9, highlight: 9};
- TUSCON.locations = range(1, 9, {name: "Tuscon", lat: 32.221743, lng: -110.926479});
-  places.push(TUSCON)

- var DC = {name: "Washington DC", folder: 'dc-2016', date: "Nov 2016", size: 17, highlight: 11};
-  places.push(DC)

- var SEATTLE = {name: "Seattle", folder: 'seattle-2016', date: "Nov 2016", size: 18, highlight: 6};
-  places.push(SEATTLE)

- var SPAIN = {name: "Spain & Portugal", folder: 'spain-portugal-2016', date: "May 2016", size: 23, highlight: 13};
-  places.push(SPAIN)

- var ARIZONA = {name: "Arizona - Utah - Nevada - California", folder: 'arizona-2015', date: "May 2015", size: 16, highlight: 3};
-  places.push(ARIZONA)

- var CHICAGO = {name: "Chicago", folder: 'chicago-2015', date: "Mar 2015", size: 3, highlight: 3};
-  places.push(CHICAGO)

- var NYC = {name: "New York City", folder: 'nyc-2015', date: "Mar 2015", size: 5, highlight: 3};
-  places.push(NYC)

- var SF = {name: "San Francisco", folder: 'sf-2015', date: "Feb 2015", size: 18, highlight: 18};
-  places.push(SF)
