footer
    h4 V.
    hr
    p All these images are my property. Interested in using them? &#8239;
      a(href='https://github.com/acadet/vagabond/issues') Open a ticket here.
    p Adrien Cadet &#169; 2020

script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12209757-8', 'auto');
      ga('send', 'pageview');
